<div class="row p-3 mb-0">
    <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
        <div class="form-group text-left">
            <button type="button" (click)="exportToPng()" class="btn btn-block btn-raised btn-round mr-1 btn-info">
                Save as Image
            </button>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
        <div class="form-group text-left">
            <button type="button" (click)="export()" class="btn btn-block btn-raised btn-round mr-1 btn-info">
                Save as PDF
            </button>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
        <div class="form-group text-left">
            <button type="button" (click)="delete(questionnaire.id)" class="btn btn-block btn-raised btn-round mr-1 btn-danger">
                Delete
            </button>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
        <div class="form-group text-left">
            <button type="button" (click)="modify()" class="btn btn-block btn-raised btn-round mr-1 btn-success">
                Modify
            </button>
        </div>
    </div>
</div>
<!--Accordion Starts-->
<section id="accordion">
    <div class="row p-3 text-left">
        <div class="col-12">
            <!--Collapsible Accordion Starts-->
            <ngb-accordion #acc="ngbAccordion" activeIds="">
                <ngb-panel title="Show / Hide Summary Instructions">
                    <ng-template ngbPanelContent>
                        <p><strong>You can provide instructions for your form report summaries here.</strong></p>
                        <br>
                        <h3>Huius ego nunc auctoritatem sequens idem faciam.</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; His singulis copiose responderi solet, sed quae perspicua sunt longa esse non debent. Duo Reges: constructio interrete. Videmus in quodam volucrium genere non nulla indicia pietatis, cognitionem, memoriam, in multis etiam desideria videmus. Idemne, quod iucunde? <a href="http://loripsum.net/" target="_blank">Quis Aristidem non mortuum diligit?</a> Quam si explicavisset, non tam haesitaret. <a href="http://loripsum.net/" target="_blank">Quid ergo hoc loco intellegit honestum?</a> Ut id aliis narrare gestiant? Quoniam, si dis placet, ab Epicuro loqui discimus. <a href="http://loripsum.net/" target="_blank">Ad eos igitur converte te, quaeso.</a> Hoc mihi cum tuo fratre convenit. </p>
                        
                        <blockquote cite="http://loripsum.net">
                            Sed existimo te, sicut nostrum Triarium, minus ab eo delectari, quod ista Platonis, Aristoteli, Theophrasti orationis ornamenta neglexerit.
                        </blockquote>
                        
                        
                        <h4>Videmus igitur ut conquiescere ne infantes quidem possint.</h4>
                        
                        <p><a href="http://loripsum.net/" target="_blank">Nos commodius agimus.</a> <a href="http://loripsum.net/" target="_blank">Respondent extrema primis, media utrisque, omnia omnibus.</a> <code>Inquit, dasne adolescenti veniam?</code> Quam illa ardentis amores excitaret sui! Cur tandem? <mark>Verum hoc idem saepe faciamus.</mark> Minime vero, inquit ille, consentit. </p>
                        
                        <ol>
                            <li>Age sane, inquam.</li>
                            <li>Non quam nostram quidem, inquit Pomponius iocans;</li>
                            <li>Ut etiam contendant et elaborent, si efficere possint, ut aut non appareat corporis vitium aut quam minimum appareat?</li>
                            <li>Aliter homines, aliter philosophos loqui putas oportere?</li>
                            <li>Utinam quidem dicerent alium alio beatiorem! Iam ruinas videres.</li>
                        </ol>
                        
                        
                        <pre>Huic verbo omnes, qui ubique sunt, qui Latine sciunt, duas
                        res subiciunt, laetitiam in animo, commotionem suavem
                        iucunditatis in corpore.
                        
                        Tum Piso: Atqui, Cicero, inquit, ista studia, si ad
                        imitandos summos viros spectant, ingeniosorum sunt;
                        </pre>
                        
                        
                        <dl>
                            <dt><dfn>Recte dicis;</dfn></dt>
                            <dd>Ergo et avarus erit, sed finite, et adulter, verum habebit modum, et luxuriosus eodem modo.</dd>
                            <dt><dfn>Proclivi currit oratio.</dfn></dt>
                            <dd>Profectus in exilium Tubulus statim nec respondere ausus;</dd>
                            <dt><dfn>Reguli reiciendam;</dfn></dt>
                            <dd>Sin autem est in ea, quod quidam volunt, nihil impedit hanc nostram comprehensionem summi boni.</dd>
                            <dt><dfn>Quid ergo?</dfn></dt>
                            <dd>Haec non erant eius, qui innumerabilis mundos infinitasque regiones, quarum nulla esset ora, nulla extremitas, mente peragravisset.</dd>
                        </dl>
                        
                        
                        <ul>
                            <li>Cuius similitudine perspecta in formarum specie ac dignitate transitum est ad honestatem dictorum atque factorum.</li>
                            <li>Nondum autem explanatum satis, erat, quid maxime natura vellet.</li>
                        </ul>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <!--Collapsible Accordion Ends-->
        </div>
    </div>
</section>
<!--Accordion Ends-->

<div class="p-3 mt-0" id="page">
    <div class="row">
        <div class="col-12 mt-0 mb-1">
            <div class="content-header">
                <h1>Report Overview:</h1>
                <h6 class="text-muted"><strong>Last Updated: </strong>{{questionnaire?.updatedAt.seconds * 1000 | date:'short'}} ({{questionnaire?.updateUser.displayName}})</h6>
                <h6 class="text-muted"><strong>Created At: </strong>{{questionnaire?.createdAt.seconds * 1000 | date:'short'}} ({{questionnaire?.createUser.displayName}})</h6>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <h6>You can highlight important information using the following alert classes:</h6>
            <ngb-alert type="success" [dismissible]="false">
                <strong>Success</strong>
            </ngb-alert>
            <ngb-alert type="warning" [dismissible]="false">
                <strong>Warning</strong>
            </ngb-alert>
            <ngb-alert type="danger" [dismissible]="false">
                <strong>Danger</strong>
            </ngb-alert>
        </div>
    </div>

    <section id="hoverable-rows">
        <div class="row text-left">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Step 1 Responses</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <table class="table table-hover">
                                <tbody>
                                    <!-- should iterate over response objects eventually-->
                                    <tr>
                                        <th scope="row" style="width: 65%">Required Dropdown:</th>
                                        <td class="text-center">{{participantInformation?.participantType || 'N/A'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Subtype Dropdown:</th>
                                        <td class="text-center">{{participantInformation?.subtype || 'N/A'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Living With / At Risk for the Condition:</th>
                                        <td class="text-center">{{requiredExpertise?.livingWithRisk ? 'Yes' : 'No'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Knowledge about the condition beyond
                                            individual/personal experience:</th>
                                        <td class="text-center">{{requiredExpertise?.knowledgeOfCondition ? 'Yes' : 'No'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Subject Matter Expert:</th>
                                        <td class="text-center">{{requiredExpertise?.subjectMatterExpert ? 'Yes' : 'No'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Communications:</th>
                                        <td class="text-center">{{requiredExpertise?.communications ? 'Yes' : 'No'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="hoverable-rows">
        <div class="row text-left">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Step 3 Responses</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <table class="table table-hover">
                                <tbody>
                                    <!-- should iterate over response objects eventually-->
                                    <tr>
                                        <th scope="row" style="width: 65%">Option A:</th>
                                        <td class="text-center">{{activityInformation?.inPerson ? 'Yes' : '--'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Option B:</th>
                                        <td class="text-center">{{activityInformation?.telephone ? 'Yes' : '--'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Option C:</th>
                                        <td class="text-center">{{activityInformation?.teleconference ? 'Yes' : '--'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Option D:</th>
                                        <td class="text-center">{{activityInformation?.webMeeting ? 'Yes' : '--'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Option E:</th>
                                        <td class="text-center">{{activityInformation?.electronic ? 'Yes' : '--'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Option F:</th>
                                        <td class="text-center">{{activityInformation?.paperBasedMail ? 'Yes' : '--'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Other:
                                        </th>
                                        <td class="text-center">{{activityInformation?.other ? 'Yes' : '--'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Details:
                                        </th>
                                        <td class="text-center">{{activityInformation?.otherText || 'N/A'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Text 1:</th>
                                        <td class="text-center">{{travelInformation.milage}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Text 2:</th>
                                        <td class="text-center">{{travelInformation?.tolls}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 65%">Text 3:</th>
                                        <td class="text-center">{{travelInformation?.parking}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>